<html>
  <body>
    <h1>Tic-Tac-Toe</h1>
    <form method='post' action='/game'>
      <label for='game_settings'>Game Settings</label>
      </br>
      </br>
      <div>Opponent:</div>
      <input type='radio' id='cpu' value='cpu' name='mode' checked>CPU player</input>
      </br>
      <input type='radio' id='human' value='human' name='mode'>Human player</input>
      </br>
      </br>
      <div>Grid size:</div>
      <input type='radio' id='3x3' value='3x3' name='size' checked>3x3</input>
      </br>
      <input type='radio' id='4x4' value='4x4' name='size'>4x4</input>
      </br>
      </br>
      <input type='submit' value='Start' />
    </form>
  </body>
</html>