<html>
  <body>
    <h1>TIC-TAC-TOE</h1>
    <h3>Please select a game format:</h3>
    <form method='post' action='/game'>
      <label for='game_mode'>Game Mode:</label>
      <input type='radio' value='human' name='mode'>Human</input>
      <input type='radio' value='cpu' name='mode'>CPU</input>
      <input type='submit' value='Start' />
    </form>
  </body>
</html>