<html>
  <h1>TIC-TAC-TOE</h1>
  <form method='POST' action='/'>
    <label for='grid_location'>Grid Location</label>
    <input type='text' name='grid_location' id='grid_location' />
    <input type='submit' value="Submit" />
  </form>
</html>